* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#container{
    width: 1000px;
    height: 1000px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.cell_type{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color{
    background-color: aqua;
}

