* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#container{
    width: 1000px;
    height: 1000px;
    background-color: brown;
    display: flex;
    flex-wrap: wrap;
}
.cell_type{
    border: 1px solid black;
}

.color{
    background-color: blue;
}

